* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;

}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pawns{
  margin-bottom: 10px;
}
.cell img {

  position: relative;
  width: 200px;
  padding-bottom: 76px;
  pointer-events: none;


}

.black {
  background: aqua;
}

.white {
  background: cadetblue;
}

.selected {
  background: darkslategray;
  border: 5px dashed black ;
}

.available {
  width: 12px;
  height: 12px;
  background: black;

}

.target {
  background: #9e0d51;
  border: 5px dashed black ;
}